<p>carga works!</p>
<div class="row m-5">
    <div class="col-md-4">
        <h3>Seleccionar archivos</h3>
        <div [archivos]="archivos" appNgDropFiles (mouseSobre)="estaSobreElemento = $event" [ngClass]="{ 'file-over': estaSobreElemento}" class='well drop-zone '>
            <h4>
                Deje caer los archivo aquí.
            </h4>
            <img src="assets/drop-images.png" alt="">
        </div>
    </div>

    <div class="col-md-8">
        <h4>Cargar archivos</h4>
        <button class='btn btn-success m-2' (click)='cargarImagenes()'>Cargar a firebase</button>
        <button (click)="limpiar()" class='btn btn-danger m-2'>Limpiar</button>

        <table class="table">
            <thead class="thead=dark">
                <tr>
                    <th>Nombre archivo</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let archivo of archivos">
                    <td>{{archivo.nombreArchivo}}</td>
                    <td>{{archivo.archivo.size/1024/1024 | number: '.2-2'}} MG</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width':archivo.progreso + '%'}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>